<?xml version="1.0" encoding="UTF-8" ?>
    
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.dmmmsu-sluc.ccsnarrativeprofile"
        versionCode = "1" 
        version     = "1.0.0" >
        <name>CCS Narrative Profile 2014</name>
        <description>
            Bachelor of Science in Computer Science Level 3 Phase 2 Narrative Profile 2014.
        </description>
        <author email="enricodacanay@yahoo.com" href="http://dmmmsu-sluc.com">
            Enrico Dacanay
        </author>
        <content src="index.html" />
        <access origin="*" />
        <icon src="icon.png" gap:platform="android" gap:qualifier="ldpi" />
        <icon src="icon.png" gap:platform="android" gap:qualifier="mdpi" />
        <icon src="icon.png" gap:platform="android" gap:qualifier="hdpi" />
        <icon src="icon.png" gap:platform="android" gap:qualifier="xhdpi" />
        <icon src="icon.png" gap:platform="android" gap:qualifier="xxhdpi" />
        <icon src="icon.png" gap:platform="android" gap:qualifier="fr-xxhdpi" />
    </widget>
